.gradient {
  background: linear-gradient(-45deg, #b3ffab, #12fff7);
}

.gradient-font {
  background-image: linear-gradient(-45deg, #b3ffab, #12fff7);
  background-clip: text;
  color: transparent;
}

.gradient-font-2 {
  background-image: linear-gradient(-45deg, #7f7fd5, #86a8e7, #91eae4);
  background-clip: text;
  color: transparent;
}

.gradient-font-3 {
  background-image: linear-gradient(-45deg, #833ab4, #fd1d1d, #fcb045);
  background-clip: text;
  color: transparent;
}

.gradient-font-4 {
  background-image: linear-gradient(-45deg, #a770ef, #cf8bf3, #fcb045);
  background-clip: text;
  color: transparent;
}

.gradient-font-5 {
  background-image: linear-gradient(-45deg, #fdfc47, #24fe41);
  background-clip: text;
  color: transparent;
}

.gradient-font-6 {
  background-image: linear-gradient(45deg, #fdfc47, #24fe41);
  background-clip: text;
  color: transparent;
}

.landing-info {
  top: 40%;
  transform: translateY(-40%);
}

.background-image {
  height: 100vh;
  width: 100vw;
  min-width: 100vw;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 0 48px 0;
  padding: 0;
  filter: blur(48px);
  -webkit-filter: blur(48px);
}

/* .background-image-2 {
  zoom: 200%;
} */
